<% if @userparam.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@userparam.errors.count, "error") %> </h2>
  
     <ul>
     <% @userparam.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @userparam, url: userparams_path do |f| %>
  Nick name: <%= f.text_field :nick_name %><br />
  Avatar: <%= f.file_field :avatar %> <br> <br></p>
  <%= f.submit "Create" %>
<% end %>